$C_BLUE_1: #e3eaf3;
$C_BLUE_2: #cedbec;
$C_BLUE_3: #96b4db;
$C_BLUE_4: #719cd4;
$C_BLUE_5: #4774af;
$C_BLUE_6: #295897;
$C_BLUE_7: #163b6b;

$C_GREEN_1: #e6f7ea;
$C_GREEN_2: #d6f8dd;
$C_GREEN_3: #9ddca9;
$C_GREEN_4: #5dc071;
$C_GREEN_5: #32b64d;
$C_GREEN_6: #258b39;
$C_GREEN_7: #166b27;

$C_GREY_1: #ececed;
$C_GREY_2: #c4c5d4;
$C_GREY_3: #aaabb8;
$C_GREY_4: #9a9ca7;
$C_GREY_5: #6f7177;
$C_GREY_6: #57575c;
$C_GREY_7: #242426;

$C_PURPLE_1: #f7f0fa;
$C_PURPLE_2: #ecd8f7;
$C_PURPLE_3: #c596dd;
$C_PURPLE_4: #b171d1;
$C_PURPLE_5: #873cac;
$C_PURPLE_6: #702b93;
$C_PURPLE_7: #4f166b;

$C_RED_1: #f9ebed;
$C_RED_2: #f5d6da;
$C_RED_3: #df9aa3;
$C_RED_4: #c9616f;
$C_RED_5: #963643;
$C_RED_6: #942736;
$C_RED_7: #6b1621;

$C_YELLOW_1: #fffdf5;
$C_YELLOW_2: #fff7d8;
$C_YELLOW_3: #f7dd76;
$C_YELLOW_4: #f5ca20;
$C_YELLOW_5: #dfb408;
$C_YELLOW_6: #b69308;
$C_YELLOW_7: #947805;

$C_TEAL_1: #eef5ff;
$C_TEAL_2: #96d7e6;
$C_TEAL_3: #72c9d8;
$C_TEAL_4: #49b0c2;
$C_TEAL_5: #2594a0;
$C_TEAL_6: #1e7f8a;
$C_TEAL_7: #16576b;

$P: 'agenda';
$SIZE: 10px;