$C_BLUE_1: #cedbec;
$C_BLUE_2: #96b4db;
$C_BLUE_3: #719cd4;
$C_BLUE_4: #356099;
$C_BLUE_5: #163b6b;

$C_GREEN_1: #d6f8dd;
$C_GREEN_2: #9ddca9;
$C_GREEN_3: #5dc071;
$C_GREEN_4: #32b64d;
$C_GREEN_5: #166b27;

$C_GREY_1: #ececed;
$C_GREY_2: #bcbdc9;
$C_GREY_3: #82838a;
$C_GREY_4: #55565c;
$C_GREY_5: #242426;

$C_PURPLE_1: #ecd8f7;
$C_PURPLE_2: #c596dd;
$C_PURPLE_3: #b171d1;
$C_PURPLE_4: #873cac;
$C_PURPLE_5: #4f166b;

$C_RED_1: #f5d6da;
$C_RED_2: #df9aa3;
$C_RED_3: #c9616f;
$C_RED_4: #963643;
$C_RED_5: #6b1621;

$C_YELLOW_1: #fff7d8;
$C_YELLOW_2: #f7dd76;
$C_YELLOW_3: #f5ca20;
$C_YELLOW_4: #c9a207;
$C_YELLOW_5: #947805;

$C_TEAL_1: #cdfdff;
$C_TEAL_2: #7deaee;
$C_TEAL_3: #3bcacf;
$C_TEAL_4: #1ca9ad;
$C_TEAL_5: #16686b;