%button-blue {
  background: $C_BLUE_5;
  border-color: $C_BLUE_5;
  color: $C_BLUE_2;
  fill: $C_BLUE_2;

  &:hover {
    background: $C_BLUE_4;
    border-color: $C_BLUE_4;
    color: $C_BLUE_1;
    fill: $C_BLUE_1;
  }

  &:visited {
    color: $C_BLUE_2;
    fill: $C_BLUE_2;
  }

  &.#{$P}--active {
    background: $C_BLUE_6;
    border-color: $C_BLUE_6;
    color: $C_BLUE_3;
    fill: $C_BLUE_3;

    &:hover {
      background: $C_BLUE_7;
      border-color: $C_BLUE_7;
      color: $C_BLUE_4;
      fill: $C_BLUE_4;
    }
  }
}

%button-green {
  background: $C_GREEN_5;
  border-color: $C_GREEN_5;
  color: $C_GREEN_2;
  fill: $C_GREEN_2;

  &:hover {
    background: $C_GREEN_4;
    border-color: $C_GREEN_4;
    color: $C_GREEN_1;
    fill: $C_GREEN_1;
  }

  &:visited {
    color: $C_GREEN_2;
    fill: $C_GREEN_2;
  }

  &.#{$P}--active {
    background: $C_GREEN_6;
    border-color: $C_GREEN_6;
    color: $C_GREEN_3;
    fill: $C_GREEN_3;

    &:hover {
      background: $C_GREEN_7;
      border-color: $C_GREEN_7;
      color: $C_GREEN_4;
      fill: $C_GREEN_4;
    }
  }
}

%button-grey {
  background: $C_GREY_2;
  border-color: $C_GREY_2;
  color: $C_GREY_5;
  fill: $C_GREY_5;

  &:hover {
    background: $C_GREY_1;
    border-color: $C_GREY_1;
    color: $C_GREY_4;
    fill: $C_GREY_4;
  }

  &:visited {
    color: $C_GREY_5;
    fill: $C_GREY_5;
  }

  &.#{$P}--active {
    background: $C_GREY_3;
    border-color: $C_GREY_3;
    color: $C_GREY_6;
    fill: $C_GREY_6;

    &:hover {
      background: $C_GREY_4;
      border-color: $C_GREY_4;
      color: $C_GREY_7;
      fill: $C_GREY_7;
    }
  }
}

%button-red {
  background: $C_RED_4;
  border-color: $C_RED_4;
  color: $C_RED_1;
  fill: $C_RED_1;

  &:hover {
    background: $C_RED_3;
    border-color: $C_RED_3;
    color: white;
    fill: white;
  }

  &:visited {
    color: $C_RED_1;
    fill: $C_RED_1;
  }

  &.#{$P}--active {
    background: $C_RED_5;
    border-color: $C_RED_5;
    color: $C_RED_2;
    fill: $C_RED_2;

    &:hover {
      background: $C_RED_6;
      border-color: $C_RED_6;
      color: $C_RED_3;
      fill: $C_RED_3;
    }
  }
}

%button-teal {
  background: white;
  border-color: $C_TEAL_4;
  color: $C_TEAL_5;
  fill: $C_TEAL_5;

  &:hover {
    background: $C_GREY_1;
    border-color: $C_TEAL_5;
    color: $C_TEAL_6;
    fill: $C_TEAL_6;
  }

  &:visited {
    color: $C_TEAL_5;
    fill: $C_TEAL_5;
  }

  &.#{$P}--active {
    background: $C_TEAL_5;
    border-color: $C_TEAL_5;
    color: white;
    fill: white;

    &:hover {
      background: $C_TEAL_6;
      border-color: $C_TEAL_6;
      color: $C_TEAL_1;
      fill: $C_TEAL_1;
    }
  }
}

%button-white {
  background: white;
  border-color: $C_GREY_2;
  color: $C_GREY_6;
  fill: $C_GREY_6;

  &:hover {
    background: $C_GREY_1;
    border-color: $C_GREY_3;
    color: $C_GREY_7;
    fill: $C_GREY_7;
  }

  &:visited {
    color: $C_GREY_6;
    fill: $C_GREY_6;
  }

  &.#{$P}--active {
    background: $C_GREY_2;
    border-color: $C_GREY_4;
    color: $C_GREY_7;
    fill: $C_GREY_7;

    &:hover {
      background: $C_GREY_3;
      border-color: $C_GREY_5;
      color: white;
      fill: white;
    }
  }
}