/*! Default */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: $C_GREY_4;
  color: $C_GREY_6;
  font-family: $FONT_FAMILY;
  margin-top: $SIZE * 4;

  @media(min-width: $BREAKPOINT_MD) {
    margin-top: $SIZE * 6;
  }
}

a {
  @extend %unstyle-link;
  color: $C_TEAL_6;

  &:visited {
    color: $C_PURPLE_5;
  }
}

ul {
  @extend %unstyle-list;
  padding-left: $SIZE;
}

button,
input,
html,
textarea {
  @extend %typography-regular;
}

p {
  margin: 0 0 $SIZE;
}

h1 {
  @extend %heading-big;
  font-size: 36px;
  line-height: 48px;
}

h2 {
  @extend %heading-big;
  font-size: 32px;
  line-height: 43px;
}

h3 {
  @extend %heading-big;
  font-size: 28px;
  line-height: 38px;
}

h4 {
  @extend %heading-small;
  @extend %typography-h4;
}

h5 {
  @extend %heading-small;
  font-size: 20px;
  line-height: 28px;
}

h6 {
  @extend %heading-small;
  @extend %typography-h6;
}

