/*! Default */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: $C_GREY_4;
  color: $C_GREY_6;
  font-family: "Segoe UI", Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

a {
  @extend %unstyle-link;
  color: $C_TEAL_6;

  &:visited {
    color: $C_PURPLE_5;
  }
}

ul {
  @extend %unstyle-list;
  padding-left: $SIZE;
}

