/*! Button */

.#{$P}-button-container {
  @extend %clearfix;
}

.#{$P}-button {
  @extend %button-white;
  @extend %transition;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  display: block;
  float: left;
  margin: 0 $SIZE / 2 $SIZE / 2 0;
  padding: $SIZE / 2 - 1 $SIZE;

  &.#{$P}--list {
    float: none;
    margin: 0 0 -1px;
  }

  &.#{$P}--menu {
    @extend %button-blue;
    margin: 0;
    padding: $SIZE - 1 $SIZE * 2;
  }

  &.#{$P}--blue {
    @extend %button-blue;
  }

  &.#{$P}--grey {
    @extend %button-grey;
  }

  &.#{$P}--teal {
    @extend %button-teal;
  }
}