/*! Duty */

.#{$P}-duty-container {
  border-bottom: $BORDER;
  border-top: $BORDER;
  margin-bottom: $SIZE / 2;
}

.#{$P}-duty {
  border-top: $BORDER;
  padding: $SIZE 0;

  &:first-child {
    border: none
  }
}

.#{$P}-duty-title {
  @extend %typography-h4;
  margin: 0;
}

.#{$P}-duty-time {
  color: $C_GREY_5;
}

.#{$P}-duty-body {
  @extend %typography-h6;
  white-space: pre-line;

  &.#{$P}--done {
    text-decoration: line-through;
  }
}