/*! Footer */
footer {
  background: $C_GREY_2;
  color: $C_GREY_7;
  padding-top: $SIZE * 2;
}

.#{$P}-copyright {
  background: $C_GREY_4;
  margin-top: $SIZE * 2;
  padding: $SIZE * 2 $SIZE;
  text-align: center;
}