/*! Layout */

.#{$P}-container {
  margin: 0 auto;
  max-width: $CONTAINER_WIDTH;
  padding: 0 $SIZE;
}

.#{$P}-row {
  @extend %clearfix;
  margin: 0 $SIZE * -1;
}

.#{$P}-col {
  float: left;
  padding: 0 $SIZE;
  width: 100%;

  @media(min-width: $BREAKPOINT_SM) {
    @include columns(sm);
  }

  @media(min-width: $BREAKPOINT_MD) {
    @include columns(md);
  }

  @media(min-width: $BREAKPOINT_LG) {
    @include columns(lg);
  }
}