/*! Default */

main {
  background: $C_GREY_1;
  padding: $SIZE * 2 0;
}

.#{$P}-container {
  margin: 0 auto;
  max-width: 720px;
  padding: 0 $SIZE;
}

.#{$P}-row {
  @extend %clearfix;
  margin: 0 $SIZE * -1;
}

.#{$P}-col {
  float: left;
  padding: 0 $SIZE;
  width: 100%;

  @media(min-width: 540px) {
    @include columns(sm);
  }

  @media(min-width: 720px) {
    @include columns(md);
  }

  @media(min-width: 960px) {
    @include columns(lg);
  }
}

.#{$P}-section {
  padding: $SIZE;

  &.#{$P}--white {
    @extend %box-shadow;
    background: white;
  }
}