/*! Menu */

nav {
  ul {
    padding: 0;
  }
}

.#{$P}-menu-main {
  @extend %box-shadow;
  @extend %clearfix;
  background: $C_BLUE_5;
}

.#{$P}-menu-list {
  display: block;
  float: right;
}

.#{$P}-menu-item {
  display: block;
  float: left;
}