/*! Menu */

#navigation {
  color: $C_TEAL_7;
}

nav {
  ul {
    padding: 0;
  }
}

.#{$P}-menu-main {
  @extend %box-shadow;
  @extend %clearfix;
  background: $C_BLUE_5;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.#{$P}-menu-list {
  display: block;
  float: right;
}

.#{$P}-menu-item {
  display: none;
  float: left;

  &.#{$P}--mobile {
    display: block;

    @media(min-width: $BREAKPOINT_MD) {
      display: none;
    }
  }

  @media(min-width: $BREAKPOINT_MD) {
    display: block;
  }
}