/*! Message */

.#{$P}-message-container {
  padding-bottom: $SIZE * 2;
}

.#{$P}-message {
  @extend %box-shadow;
  padding: $SIZE / 2 $SIZE;

  & ~ & {
    margin-top: $SIZE / 2;
  }

  &.#{$P}--error {
    background: $C_RED_3;
    color: $C_RED_6;
  }

  &.#{$P}--info {
    background: $C_BLUE_3;
    color: $C_BLUE_6;
  }

  &.#{$P}--neutral {
    background: white;
    color: $C_GREY_6;
  }

  &.#{$P}--success {
    background: $C_GREEN_3;
    color: $C_GREEN_7;
  }

  &.#{$P}--warning {
    background: $C_BUMBLEBEE_3;
    color: $C_BUMBLEBEE_7;
  }
}
