/*! SVG */

.#{$P}-icon-container {
  height: 20px;
  padding: 2px 0;
  width: 16px;
}

.#{$P}-logo-container {
  height: 20px;
  width: 138px;
}

.#{$P}-priority-container {
  width: 24px;
  height: 24px;
  margin: $SIZE $SIZE $SIZE 0;
}