/*! Typography */
h1 {
  @extend %heading-big;
  font-size: 48px;
  font-size: 36px;
}

h2 {
  @extend %heading-big;
  font-size: 43px;
  font-size: 32px;
}

h3 {
  @extend %heading-big;
  font-size: 38px;
  font-size: 28px;
}

h4 {
  @extend %heading-small;
  font-size: 33px;
  font-size: 24px;
}

h5 {
  @extend %heading-small;
  font-size: 28px;
  font-size: 20px;
}

h6 {
  @extend %heading-small;
  font-size: 22px;
  font-size: 16px;
}